<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/video-js.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/sweetalert2.css') }}">

        <script src="{{ asset('js/jquery-1.12.3.min.js') }}"></script>
        <script src="{{ asset('js/sweetalert2.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/video.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <script src="{{ asset('js/boilerplate.js') }}"></script>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">MiTestTube</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">{{ 'buttons.home'|trans({}, 'labels') }}</a></li>
                    {#{% if is_granted('ROLE_USER') %}#}
                    {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                        <li><a href="/object/add">{{ 'buttons.add'|trans({}, 'labels') }}</a></li>
                    {% endif %}
                </ul>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        {#{% if is_granted('ROLE_USER') %}#}
                        {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                            {#Logged in as {{ app.user.username }}#}
                        {% else %}
                            <a href="{{ url('_login') }}" class="btn btn-info" role="button">Login</a>
                        {% endif %}
                        <input type="text" class="form-control" placeholder="{{ 'search.placeholder'|trans({}, 'labels') }}" id="search_text">
                    </div>
                    <button type="submit" class="btn btn-default" id="search"><span class="glyphicon glyphicon-search"></span></button>
                </form>

            </div>
        </nav>
        <br><br><br><br>
        {% block body %}{% endblock %}
    </body>

    <br>
    <footer class="footer navbar-bottom">
        <p class="text-muted" style="text-align: center">A Product of MiWayaWaya 2016</p>
    </footer>
</html>
