{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {#<div class="jumbotron">#}
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h5><strong>Featured Video:</strong> Panel Heading</h5></div>
                <div class="panel-body">
                    <video id="" class="video-js vjs-default-skin" controls preload="auto" poster="" data-setup='{}'>
                        <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-body"><h5 style="text-align: center">Latest Videos</h5></div>
                </div>
                {% for entity in latestEntities %}
                    <div class="panel panel-success">
                        <div class="panel-heading" data-id="{{ entity.getId() }}" data-mime-type="{{ mimeType }}">{{ entity.getTitle() }}</div>
                        <div class="panel-body">
                            <video id="" class="video-js vjs-default-skin" controls preload="auto" data-setup='{}' style="height: 250px">
                                <source src="http://qatube-local-lnx/media/{{ entity.getMediaName() }}" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body"><h5 style="text-align: center">Most Popular</h5></div>
                </div>
                {% for entity in popularEntities %}
                    <div class="panel panel-default">
                        <div class="panel-heading" data-id="{{ entity.getId() }}" data-mime-type="{{ mimeType }}">{{ entity.getTitle() }}</div>
                        <div class="panel-body">
                            <video id="" class="video-js vjs-default-skin" controls preload="auto" data-setup='{}' style="height: 250px">
                                <source src="http://qatube-local-lnx/media/{{ entity.getMediaName() }}" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-body"><h5 style="text-align: center">Training Videos</h5></div>
                </div>
                {% for entity in trainingEntities %}
                    <div class="panel panel-danger">
                        <div class="panel-heading" data-id="{{ entity.getId() }}" data-mime-type="{{ mimeType }}">{{ entity.getTitle() }}</div>
                        <div class="panel-body">
                            <video id="" class="video-js vjs-default-skin" controls preload="auto" data-setup='{}' style="height: 250px">
                                <source src="http://qatube-local-lnx/media/{{ entity.getMediaName() }}" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>

    <script type="application/javascript">
        $(function() {
            $('.panel-heading').on('click', function(event) {
                var $element = $(event.target),
                    mediaId = $element.data('id'),
                    mimeType = $element.data('mimeType');

                window.location.href = "http://qatube-local-lnx/object/view/" + mediaId + "?mimeType=" + mimeType;
            });
        });
    </script>
{% endblock %}
