{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h5><strong>Featured Video: </strong>{{ mainEntity.getTitle() }}</h5></div>
                <div class="panel-body">
                    <video id="" class="video-js vjs-default-skin" controls preload="auto" poster="" data-setup='{}' style="height: 350px">
                        <source src="http://qa-tube/media/{{ mainEntity.getMediaName() }}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-body"><h5 style="text-align: center">Latest Videos</h5></div>
                </div>
                {% for entity in latestEntities|slice(0, 3) %}
                    <div class="panel panel-success">
                        <div class="panel-heading" data-id="{{ entity.getId() }}">{{ entity.getTitle() }}</div>
                        <div class="panel-body">
                            <video id="" class="video-js vjs-default-skin" controls preload="auto" data-setup='{}' style="height: 250px">
                                <source src="http://qa-tube/media/{{ entity.getMediaName() }}" type="video/ogg">
                            </video>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body"><h5 style="text-align: center">Most Popular</h5></div>
                </div>
                {% for entity in popularEntities|slice(0, 3) %}
                    <div class="panel panel-default">
                        <div class="panel-heading" data-id="{{ entity.getId() }}">{{ entity.getTitle() }}</div>
                        <div class="panel-body">
                            <video id="" class="video-js vjs-default-skin" controls preload="auto" data-setup='{}' style="height: 250px">
                                <source src="http://qa-tube/media/{{ entity.getMediaName() }}" type="video/ogg">
                            </video>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-body"><h5 style="text-align: center">Training Videos</h5></div>
                </div>
                {% for entity in trainingEntities|slice(0, 3) %}
                    <div class="panel panel-danger">
                        <div class="panel-heading" data-id="{{ entity.getId() }}">{{ entity.getTitle() }}</div>
                        <div class="panel-body">
                            <video id="" class="video-js vjs-default-skin" controls preload="auto" data-setup='{}' style="height: 250px">
                                <source src="http://qa-tube/media/{{ entity.getMediaName() }}" type="video/ogg">
                            </video>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>

    <script type="application/javascript">
        $(function() {
            $('.panel-heading').on('click', function(event) {
                var $element = $(event.target),
                    mediaId = $element.data('id');

                window.location.href = "http://qa-tube/object/view/" + mediaId;
            });
        });
    </script>
{% endblock %}
