{% extends 'base.html.twig' %}

{% block search %}
    {% include 'default/partials/search.html.twig' %}
{% endblock %}

{% block body %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% if is_granted('ROLE_ADMIN') and app.user.username == entity.user %}
                        <button class="btn btn-info" id="delete_object" data-id="{{ entity.id }}">{{ 'buttons.delete'|trans({}, 'labels') }}</button>
                        <a href="{{ url('_edit_object', {'id' : entity.id}) }}" class="btn btn-info" role="button" id="edit_object">{{ 'buttons.edit'|trans({}, 'labels') }}</a>
                    {% endif %}
                </div>
            </div>

            <br>

            <div class="jumbotron">
                <h2>{{ entity.title }}</h2>
                <p><small>{{ entity.description }}</small></p>
                {{ 'tags'|trans }}
                {% for tag in tags %}
                    <span class="label label-warning">{{ tag }}</span>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <div class="demo-content">
                        <div class="panel panel-warning">
                            <div class="panel-heading">{{ 'panels.uploaded_by'|trans({}, 'labels') }}</div>
                            <div class="panel-body">{{ entity.user }} ({{ entity.team }})</div>
                        </div>
                        <div class="panel panel-warning">
                            <div class="panel-heading">{{ 'panels.story'|trans({}, 'labels') }}</div>
                            <div class="panel-body">{{ entity.story }} on {{ entity.environment }} ({{ entity.type }})</div>
                        </div>
                        <div class="panel panel-warning">
                            <div class="panel-heading">{{ 'panels.date'|trans({}, 'labels') }}</div>
                            <div class="panel-body">{{ entity.timestamp|date }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="demo-content bg-alt">
                        <video id="really-cool-video" class="video-js vjs-default-skin" controls preload="auto" height="500" poster="" data-setup='{}'>
                            <source src="{{ path }}">
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser
                                that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}