{% import "default/macro/format.html.twig" as format %}

{% extends 'base.html.twig' %}

{% block search %}
    {% include 'default/partials/search.html.twig' %}
    {% include 'default/partials/search_filter.html.twig' %}
{% endblock %}

{% block body %}
    <body>
        <h3 class="footer navbar-default" style="text-align: center">{{ result|length }} Search Results for <em>{{ searchresult }}</em>:</h3><br>
        <div class="container">
        {% for entity in result %}
                <div class="col-xs-4">
                    <div class="{{ entity.team|snakecase }}">
                        <div class="panel panel-info">
                            <div class="panel-heading" data-id="{{ entity.id }}">{{ format.highlight(entity.title, searchresult) }}</div>
                            <div class="panel-body">
                                {{ format.highlight(entity.description, searchresult) }}
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    </body>
{% endblock %}